// https://css-tricks.com/how-to-create-neon-text-with-css/

.style-neon1 {
  @font-face {
    font-family: "Kosan";
    src: local("KosanNonCommercial"),
    url("@/assets/styles/KosanNonCommercial.otf") format("opentype");
  }

  &.border {
    font-family: Kosan, Arial, Helvetica, sans-serif;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 2rem;
    border: .5rem solid #666;
    border-radius: 2rem;
  }

  .on-air {
    font-size: min(20vw, 40vh);
    color: #222;
    text-transform: uppercase;
  }

  .toggles {
    display: flex;
    gap: min(11vw, 20vh);
    padding-top: calc(min(6vw, 8vh) / 2);
  }

  .toggle-on, .toggle-off {
    font-size: min(6vw, 13vh);
    color: #222;
    text-transform: uppercase;
  }

  &.in-meeting {
    &.border {
      border-color: #fff;
      box-shadow: 0 0 .2rem #fff,
      0 0 .2rem #fff,
      0 0 2rem #f00,
      0 0 0.8rem #f00,
      0 0 2.8rem #f00,
      inset 0 0 2rem #f00;
    }

    .on-air {
      color: #fff;
      text-shadow: 0 0 4px #fff,
      0 0 11px #fff,
      0 0 19px #fff,
      0 0 40px #f00,
      0 0 80px #f00,
      0 0 90px #f00,
      0 0 100px #f00,
      0 0 150px #f00;

      animation: flicker 1.5s infinite alternate;
    }

    .toggle-on {
      color: #fff;
      text-shadow: 0 0 4px #fff,
      0 0 11px #fff,
      0 0 19px #fff,
      0 0 40px #0f0,
      0 0 80px #0f0,
      0 0 90px #0f0,
      0 0 100px #0f0,
      0 0 150px #0f0;
    }

    .toggle-off {
      color: #fff;
      text-shadow: 0 0 4px #fff,
      0 0 11px #fff,
      0 0 19px #fff,
      0 0 40px #f00,
      0 0 80px #f00,
      0 0 90px #f00,
      0 0 100px #f00,
      0 0 150px #f00;
    }
  }

  @keyframes flicker {
    0%, 18%, 22%, 25%, 53%, 57%, 100% {
      text-shadow: 0 0 4px #fff,
      0 0 11px #fff,
      0 0 19px #fff,
      0 0 40px #f00,
      0 0 80px #f00,
      0 0 90px #f00,
      0 0 100px #f00,
      0 0 150px #f00;
    }
    20%, 24%, 55% {
      text-shadow: none;
    }
  }

  @media screen and (prefers-reduced-motion) {
    .on-air {
      animation: none !important;
    }
  }
}